package ${table.packageName}.api;

import com.xubei.framework.common.entity.ResponseObj;
import com.xubei.framework.common.entity.Pager;
import ${table.packageName}.model.entity.${table.className};
import ${table.packageName}.model.entity.${table.className}QueryDto;
import ${table.packageName}.service.${table.className}Service;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.RequestBody;
import org.springframework.web.bind.annotation.RequestParam;
import org.springframework.web.bind.annotation.RestController;

@RestController
public class ${table.className}Api implements I${table.className}Api {

	@Autowired
	private ${table.className}Service ${table.classNameFirstLower}Service;
	
	@Override
	public ResponseObj<${table.className}> getByPrimary(@RequestParam("${table.primaryFirstLower}") ${table.getFirstPrimaryKey().fieldType} ${table.primaryFirstLower}) {
		return ResponseObj.SUCCESS(${table.classNameFirstLower}Service.getByPrimary(${table.primaryFirstLower}));
	}

    @Override
    public ResponseObj<${table.className}> findOne(@RequestBody ${table.className}QueryDto queryDto) {
        return ResponseObj.SUCCESS(${table.classNameFirstLower}Service.findOne(queryDto));
    }

	@Override
	public ResponseObj<Pager<${table.className}>> list(@RequestBody ${table.className}QueryDto queryDto,
													   @RequestParam("pageNo") Integer pageNo,
										   			   @RequestParam("pageSize") Integer pageSize) {
		pageNo = pageNo < 1 ? 1 : pageNo;
		pageSize = pageSize > 200 ? 200 : pageSize;
		return ResponseObj.SUCCESS(${table.classNameFirstLower}Service.list(queryDto, pageNo, pageSize));
	}

	@Override
	public ResponseObj<${table.className}> insert(@RequestBody ${table.className} ${table.classNameFirstLower}) {
		${table.classNameFirstLower}Service.insert(${table.classNameFirstLower});
		return ResponseObj.SUCCESS(${table.classNameFirstLower});
	}

	@Override
	public ResponseObj<${table.className}> update(@RequestBody ${table.className} ${table.classNameFirstLower}) {
		${table.classNameFirstLower}Service.update(${table.classNameFirstLower});
		return ResponseObj.SUCCESS(${table.classNameFirstLower});
	}
}
