package ${table.packageName}.service;

import ${table.packageName}.model.query.${table.className}QueryDto;
import ${table.packageName}.model.entity.${table.className};
import com.xubei.framework.common.entity.Pager;

import java.util.List;

/**
 * ${table.tableComment} 数据库层封装
 *
 * @author ${author}
 * @since 1.0
 */
public interface ${table.className}Service {

	${table.className} getById(Long id);

    Pager<${table.className}> list(${table.className}QueryDto queryDto, Integer pageNo, Integer pageSize);

    ${table.className} findOne(${table.className}QueryDto queryDto);

    int insert(${table.className} ${table.classNameFirstLower});

    int update(${table.className} ${table.classNameFirstLower});
}
