package ${table.packageName}.service;

import com.github.pagehelper.Page;
import ${table.packageName}.model.query.${table.className}QueryDto;
import ${table.packageName}.model.entity.${table.className};

import java.util.List;

/**
 * 数据库层封装
 *
 * @author ${author}
 * @since 1.0
 */
public interface ${table.className}Service {

	${table.className} getById(Long id);

    Pager<${table.className}> list(${table.className}QueryDto queryDto, Integer pageNo, Integer pageSize);

    int insert(${table.className} ${table.classNameFirstLower});

    int update(${table.className} ${table.classNameFirstLower});
}
