package com.control.situation.dao;

import com.control.situation.entity.${table.className}Info;

import java.util.List;

/**
* 数据库层封装
*
* @author ${author}
* @since 1.0
*/
public interface ${table.className}Dao {

	${table.className}Info findOne(Long id);

	List<${table.className}Info> findAll();

    List<${table.className}Info> findByParams(${table.className}Info ${table.classNameFirstLower});

    int delete(Long id);

    int insert(${table.className}Info ${table.classNameFirstLower});

    int update(${table.className}Info ${table.classNameFirstLower});
}
