package ${table.packageName}.service.impl;

import com.github.pagehelper.Page;
import com.github.pagehelper.PageHelper;
import ${table.packageName}.service.${table.className}Service;
import ${table.packageName}.model.entity.${table.className};
import ${table.packageName}.model.query.${table.className}QueryDto;
import ${table.packageName}.mappers.${table.className}Mapper;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

@Service
public class ${table.className}ServiceImpl implements ${table.className}Service {

	@Autowired
	private ${table.className}Mapper ${table.classNameFirstLower}Mapper;

	@Override
	public ${table.className} getById(Long id) {
		return ${table.classNameFirstLower}Mapper.getById(id);
	}

    @Override
    public Page<${table.className}> list(${table.className}QueryDto queryDto, Integer pageNo, Integer pageSize) {
		PageHelper.orderBy("create_time desc");
		PageHelper.startPage(pageNo, pageSize, true);
		return ${table.classNameFirstLower}Mapper.list(queryDto);
	}

	@Override
	public int delete(Long id) {
		return ${table.classNameFirstLower}Mapper.delete(id);
	}

	@Override
	public int insert(${table.className} ${table.classNameFirstLower}) {
		return ${table.classNameFirstLower}Mapper.insert(${table.classNameFirstLower});
	}

	@Override
	public int update(${table.className} ${table.classNameFirstLower}) {
		return ${table.classNameFirstLower}Mapper.update(${table.classNameFirstLower});
	}
}
