package ${table.packageName}.service.impl;

import com.github.pagehelper.PageHelper;
import ${table.packageName}.service.${table.className}Service;
import ${table.packageName}.model.entity.${table.className};
import ${table.packageName}.model.query.${table.className}QueryDto;
import ${table.packageName}.mappers.${table.className}Mapper;
import org.demon.framework.common.entity.Pager;
import org.demon.framework.util.pager.PagerUtils;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

@Service
public class ${table.className}ServiceImpl implements ${table.className}Service {

	@Autowired
	private ${table.className}Mapper ${table.classNameFirstLower}Mapper;

	@Override
	public ${table.className} getById(Long id) {
		return ${table.classNameFirstLower}Mapper.getById(id);
	}

    @Override
    public Pager<${table.className}> list(${table.className}QueryDto queryDto, Integer pageNo, Integer pageSize) {
		PageHelper.orderBy("create_time desc");
		PageHelper.startPage(pageNo, pageSize, true);

		return PagerUtils.pageToPager(${table.classNameFirstLower}Mapper.list(queryDto), pageNo, pageSize);
	}

	@Override
	public ${table.className} findOne(${table.className}QueryDto queryDto) {
		return ${table.classNameFirstLower}Mapper.findOne(queryDto);
	}

	@Override
	@Transactional
	public int insert(${table.className} ${table.classNameFirstLower}) {
		return ${table.classNameFirstLower}Mapper.insert(${table.classNameFirstLower});
	}

	@Override
	public int update(${table.className} ${table.classNameFirstLower}) {
		return ${table.classNameFirstLower}Mapper.update(${table.classNameFirstLower});
	}
}
