package ${table.packageName}.service.impl;

import com.xdd.common.core.utils.PagerUtils;
import com.github.pagehelper.PageHelper;
import ${table.packageName}.service.${table.className}Service;
import ${table.packageName}.utils.PagerUtils;
import ${table.packageName}.model.entity.${table.className};
import ${table.packageName}.model.entity.${table.className}QueryDto;
import ${table.packageName}.mappers.${table.className}Mapper;
import com.xubei.framework.common.entity.Pager;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.Date;

@Service
public class ${table.className}ServiceImpl implements ${table.className}Service {

	@Autowired
	private ${table.className}Mapper ${table.classNameFirstLower}Mapper;

	@Override
	@Transactional
	public int insert(${table.className} ${table.classNameFirstLower}) {
		Date date = new Date();
#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.getFieldType()} == 'Date')
		${table.classNameFirstLower}.${tempColumn.getFieldSetMehtod()}(date);
#end
#end
		return ${table.classNameFirstLower}Mapper.insert(${table.classNameFirstLower});
	}

	@Override
	public int update(${table.className} ${table.classNameFirstLower}) {
#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.getFieldName()} == 'updateTime')
		${table.classNameFirstLower}.${tempColumn.getFieldSetMehtod()}(new Date());
#end
#end
		return ${table.classNameFirstLower}Mapper.update(${table.classNameFirstLower});
	}

	@Override
	public ${table.className} getByPrimary(${table.getFirstPrimaryKey().fieldType} ${table.primaryFirstLower}) {
		return ${table.classNameFirstLower}Mapper.getByPrimary(${table.primaryFirstLower});
	}

    @Override
    public Pager<${table.className}> list(${table.className}QueryDto queryDto, Integer pageNo, Integer pageSize) {
		PageHelper.orderBy("${table.primaryFirstLower} desc");
		PageHelper.startPage(pageNo, pageSize, true);

		return PagerUtils.pageToPager(${table.classNameFirstLower}Mapper.list(queryDto), pageNo, pageSize);
	}

	@Override
	public ${table.className} findOne(${table.className}QueryDto queryDto) {
		return ${table.classNameFirstLower}Mapper.findOne(queryDto);
	}
}
