##实体类代码
package ${table.packageName}.service.model.entity;

import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.io.Serializable;
import java.math.BigDecimal;
import java.util.Date;

/**
 * ${table.className} 查询参数
 *
 * @author ${author}
 * @since 1.0
 */
@Data
@NoArgsConstructor
@ApiModel("${table.tableComment} 查询参数")
public class ${table.className}QueryDto implements Serializable {

	private static final long serialVersionUID = -1L;

    @ApiModelProperty(value = "开始创建时间")
    private String beginCTime;

    @ApiModelProperty(value = "结束创建时间")
    private String endCTime;

#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.columnComment.trim()} != '')
	@ApiModelProperty(value = "${tempColumn.columnComment.trim()}")
#end
	private ${tempColumn.fieldType} ${tempColumn.fieldName};

#end

}