package ${table.packageName}.mapper;

import com.github.pagehelper.Page;
import ${table.packageName}.model.query.${table.className}QueryDto;
import ${table.packageName}.model.entity.${table.className};
import org.apache.ibatis.annotations.Param;

public interface ${table.className}Mapper {

	${table.className} getById(Long id);

	Page<${table.className}> list(@Param("query") ${table.className}QueryDto queryDto);

	int delete(Long id);

	int insert(${table.className} ${table.classNameFirstLower});

	int update(${table.className} ${table.classNameFirstLower});
}