package ${table.packageName}.mapper;

import ${table.packageName}.model.entity.${table.className};

import java.util.List;

public interface ${table.className}Mapper {

	${table.className} findOne(Long id);

	List<${table.className}> findByParams(${table.className} ${table.classNameFirstLower});

	int delete(Long id);

	int insert(${table.className} ${table.classNameFirstLower});

	int update(${table.className} record);
}