package ${table.packageName}.mapper;

import com.github.pagehelper.Page;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Mapper;

import ${table.packageName}.service.model.entity.${table.className};
import ${table.packageName}.service.model.entity.${table.className}QueryDto;

@Mapper
public interface ${table.className}Mapper {

	${table.className} getByPrimary(@Param("${table.primaryFirstLower}") ${table.getFirstPrimaryKey().fieldType} ${table.primaryFirstLower});

	Page<${table.className}> list(${table.className}QueryDto queryDto);

	${table.className} findOne(${table.className}QueryDto queryDto);

	int delete(Long id);

	int insert(${table.className} record);

	int update(${table.className} record);
}