package ${table.packageName}.service;

import com.github.pagehelper.Page;
import ${table.packageName}.entity.${table.className};
import ${table.packageName}.entity.${table.className}QueryDto;
import org.springframework.transaction.annotation.Transactional;

public interface ${table.className}Service {

    ${table.className} getByPrimary(Long id);

    Page<${table.className}> list(${table.className}QueryDto queryDto, Integer pageNo, Integer pageSize);

    /**
     * 获取单条数据, limit 1
     */
    ${table.className} findOne(${table.className}QueryDto queryDto);

    @Transactional
    int insert(${table.className} user);

    int update(${table.className} user);
}
