<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="${table.packageName}.mappers.${table.className}Mapper">
    <resultMap id="ResultMap" type="${table.packageName}.entity.${table.className}">
#foreach($tempColumn in $table.columnList)
	#if(${tempColumn.fieldName}==${table.getFirstPrimaryKey().fieldName})

        <id column="${tempColumn.columnName}" property="${tempColumn.fieldName}" jdbcType="${tempColumn.columnType}" />
	#else<result column="${tempColumn.columnName}" property="${tempColumn.fieldName}" jdbcType="${tempColumn.columnType}" />
	#end
#end

    </resultMap>

    <sql id="Base_Column_List">
		#foreach( $tempColumn in $table.columnList)`${tempColumn.columnName}`#if($velocityCount!=$table.columnList.size()),#end#end
    </sql>

    <select id="getByPrimary" parameterType="java.lang.Long" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM ${table.tableName}
        WHERE `${table.getFirstPrimaryKey().columnName}` = #{${table.getFirstPrimaryKey().fieldName},jdbcType=${table.getFirstPrimaryKey().columnType}}
    </select>

    <sql id="dynamicWhereQuery">
        <where>
            <if test="@Ognl@isNotEmpty(beginCTime)" > and `create_time` &gt;= #{beginCTime,jdbcType=VARCHAR}</if>
            <if test="@Ognl@isNotEmpty(endCTime)" > and `create_time` &lt;= #{endCTime,jdbcType=VARCHAR}</if>
        #foreach($tempColumn in $table.columnList)

            <if test="@Ognl@isNotEmpty(${tempColumn.fieldName})"> and `${tempColumn.columnName}` = #{${tempColumn.fieldName},jdbcType=${tempColumn.columnType}}</if>
        #end

        </where>
    </sql>

    <select id="list" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM ${table.tableName}
        <include refid="dynamicWhereQuery" />
    </select>

    <select id="findOne" resultMap="ResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM ${table.tableName}
        <include refid="dynamicWhereQuery" />
        limit 1
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM ${table.tableName}
        WHERE `${table.getFirstPrimaryKey().columnName}` = #{${table.getFirstPrimaryKey().fieldName},jdbcType=${table.getFirstPrimaryKey().columnType}}
    </delete>

    <insert id="insert" parameterType="${table.packageName}.entity.${table.className}">
        INSERT INTO
		${table.tableName}
        <trim prefix="(" suffix=")" suffixOverrides=",">
			#foreach($tempColumn in $table.columnList)
			    #if(${tempColumn.fieldName}!=${table.getFirstPrimaryKey().fieldName})

            <if test="@Ognl@isNotEmpty(${tempColumn.fieldName})"> `${tempColumn.columnName}`,</if>
			    #end
		    #end

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
	        #foreach($tempColumn in $table.columnList)
		        #if(${tempColumn.fieldName}!=${table.getFirstPrimaryKey().fieldName})

            <if test="@Ognl@isNotEmpty(${tempColumn.fieldName})"> #{${tempColumn.fieldName},jdbcType=${tempColumn.columnType}},</if>
		        #end
	        #end

        </trim>
    </insert>

    <update id="update" parameterType="${table.packageName}.entity.${table.className}">
        UPDATE ${table.tableName}
        <set>
	#foreach($tempColumn in $table.columnList)
		#if(${tempColumn.fieldName}!=${table.getFirstPrimaryKey().fieldName})

            <if test="@Ognl@isNotEmpty(${tempColumn.fieldName})"> `${tempColumn.columnName}` = #{${tempColumn.fieldName},jdbcType=${tempColumn.columnType}},</if>
		#end
	#end

        </set>
        WHERE ${table.getFirstPrimaryKey().columnName} = #{${table.getFirstPrimaryKey().fieldName},jdbcType=${table.getFirstPrimaryKey().columnType}}
    </update>
</mapper>