package com.control.situation.api.impl;

import com.control.situation.api.${table.className}Api;
import com.control.situation.config.Env;
import com.control.situation.dao.${table.className}Dao;
import com.control.situation.utils.ClientResult;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;

import org.apache.log4j.Logger;

/**
 * 业务逻辑处理类
 *
 * @author ${author}
 * @since 1.0
 */
@Service
public class ${table.className}ApiImpl implements ${table.className}Api {

	private Logger logger = Logger.getLogger(${table.className}ApiImpl.class);

	@Autowired
	private ${table.className}Dao ${table.classNameFirstLower}Dao;

	@Override
	public ClientResult findList(Env env) {
	return null;
	}

	@Override
	public ClientResult update(Env env) {
	return null;
	}

	@Override
	public ClientResult delete(Env env) {
	return null;
	}

	@Override
	public ClientResult save(Env env) {
	return null;
	}

	@Override
	public ClientResult findDetail(Env env) {
	return null;
	}
}
