##实体类代码
package org.demon.sdk.entity.entity;

import javax.persistence.Column;
import javax.persistence.Id;
import javax.persistence.Table;
import java.io.Serializable;
import java.util.Date;

/**
 * @author ${author}
 * @since 1.0
 */
@Table(name = "${table.tableName}")
public class ${table.className} implements Serializable {

#foreach( $tempColumn in $table.columnList)
#if(${tempColumn.columnComment.trim()} != '')
	// ${tempColumn.columnComment.trim()}
#end
#if(${tempColumn.fieldName}==${table.getFirstPrimaryKey().fieldName})
	@Id
#end
	@Column(name = "${tempColumn.columnName}")
	public ${tempColumn.fieldType} ${tempColumn.fieldName};

#end

	public ${table.className}(){}

#foreach( $tempColumn in $table.columnList )
	public ${tempColumn.fieldType} ${tempColumn.fieldGetMethod}() {
		return ${tempColumn.fieldName};
	}

	public void ${tempColumn.fieldSetMehtod}(${tempColumn.fieldType} ${tempColumn.fieldName}) {
		this.${tempColumn.fieldName} = ${tempColumn.fieldName};
	}

#end
}